<p>Hello <%= @resource.email %>!</p>

<p>Alguém solicitou a troca de senha.</p>

<p><%= link_to 'Trocar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não pediu essa troca de senha, ignore este email.</p>
<p>Sua senha não ira mudar ate que clique no link a cima.</p>
